@import '../../../../styles/mixings.scss';

.containerGrid {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  margin-bottom: 5rem;
  margin-top: 250px;
}

.sectionAcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.sectionBcontainer {
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr;
  width: 60%;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
.sectionAcolumAcontainer {
  display: flex;
  justify-content: space-around;
}
.sectionAcolumBcontainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.3rem;
  border-radius: 50%;
}
