:root {
  // BACKGROUNDS
  --primary-color: rgba(35, 104, 254, 1);
  --primary-gradient: linear-gradient(180deg, #0674fc 0%, #3c5cff 100%);
  --secondary-color: rgba(0, 58, 140, 1);
  --third-color: rgba(123, 123, 123, 1);
  --error-color: red;
  --fourth-color: white;
  // BUTTONS
  --orange-gradient: linear-gradient(136.34deg, #ff8871 16.3%, #e84f4f 87.06%);
  --button-border-primary: white;
  --button-background-primary: white;
  --button-background-secondary: rgba(6, 116, 252, 1);
  --button-border-secondary: rgba(6, 116, 252, 1);
  --button-background-susbcribe: #002966;
  // ICONS
  --icon-color-primary: white;
  --icon-color-secondary: #33c972;

  // TEXTS
  --title-color: white;
  --title-color-primary: rgba(6, 116, 252, 1);
  --title-color-secondary: rgba(123, 123, 123, 1);
  --color-text-primary: white;
  --color-text-secondary: rgba(123, 123, 123, 1);
  --color-text-third: black;

  // FONTS
  --title-primary-font: 'Nunito', sans-serif;
  --text--primary-font: 'Nunito', sans-serif;
}
